@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

//header 

header {
    background-color: #222222;
    padding: 18px 16px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        &_left {
            display: inline-block;
        }

        &_logo {
            margin-right: 41px;
        }

        &_right {
            display: inline-block;
        }

        &_profile {
            display: none;
        }

    }

    .busket_wrapper {
        position: relative;
        display: none;

        &__number {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            display: none;
            width: 19px;
            height: 19px;
            border-radius: 100%;
            background: #F16D7F;
        }
    }
}

@media (min-width: 768px) {
    header {
        padding: 18px 32px;

        .header {
            &_profile {
                display: inline-block;
                margin-right: 42px;
            }

            &_basket {
                display: inline-block;
            }

            &_menu {
                margin-right: 25px;
            }

            &_profile {
                display: inline-block;
            }
        }

        .busket_wrapper {
            display: inline-block;

            &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(23px, 12px);
            }
        }
    }
}

@media (min-width: 1140px) {
    header {
        display: flex;
        justify-content: center;

        .container {
            display: flex;
            justify-content: space-between;
            width: 1140px;
        }
    }
}

//arrivals

nav {
    background-color: #F8F3F4;
    padding: 24px 83px 46px;
    text-align: center;

    h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        margin-bottom: 32px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }

    @media (min-width:320px) {
        padding: 24px 60px 46px;
    }
}

@media (min-width: 768px) {
    nav {
        padding: 0;

        .container {
            display: flex;
            justify-content: space-between;
            padding: 59px 16px;
            align-items: center;
        }

        h1 {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1140px) {
    nav {
        display: flex;
        justify-content: center;

        .container {
            width: 1140px;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            padding-right: 0;
            align-items: center;
        }
    }
}

// filter 

.filter {
    margin: 24px 8px 0;
    display: flex;
    justify-content: space-between;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        display: inline-block;
        display: none;
    }

    &_right {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: inline-block;

        @media (max-width: 349px) {
            padding-left: 16px;
        }
    }

    &_left {
        display: inline-block;
    }

    .trending {
        display: inline-block;
        margin-right: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #6F6E6E;

        @media (max-width: 349px) {
            margin-right: 12px;
        }

        img {
            margin-left: 9px;
        }
    }

    .size {
        display: inline-block;
        margin-right: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #6F6E6E;

        @media (max-width: 349px) {
            margin-right: 12px;
        }

        img {
            margin-left: 9px;
        }
    }

    .price {
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #6F6E6E;

        img {
            margin-left: 9px;
        }
    }

}

@media (min-width: 768px) {
    .filter {
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 8px;

        &_icon {
            width: 15px;
            height: 10px;
            margin-left: 11px;
        }

        span {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

@media (min-width: 1140px) {
    .filter {
        display: flex;
        justify-content: center;
        margin-top: 51px;
        margin-bottom: 64px;

        .container {
            width: 1140px;
            justify-content: start;
        }

        &_right {
            margin-left: 320px;

            .trending {
                font-size: 14px;
                margin-right: 28px;
            }

            .size {
                font-size: 14px;
                margin-right: 28px;
            }

            .price {
                font-size: 14px;
            }
        }
    }

    .main {
        img {
            &:first-child {
                margin-top: 0;
            }
        }

        padding-top: 0 !important;
    }
}

// main

.main {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;

    &_text_wrapper {
        padding-left: 24px;
        padding-right: 36px;
    }

    img {
        width: 100%;
        padding-bottom: 25px;
        margin-top: 16px;
    }

    h2 {
        padding-bottom: 13px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    p {
        padding-bottom: 18px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    .price {
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}

@media (min-width:768px) {
    .main {
        padding: 16px 16px 0;

        .main_item {
            &:nth-child(3) {
                display: none;
            }
        }

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 16px;
        }
    }
}

@media (min-width:1140px) {
    .main {
        display: flex;
        justify-content: center;

        .container {
            width: 1140px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .main_item {
            &:nth-child(3) {
                display: block;
            }
        }
    }
}

// pagination

.pagination {
    height: 148px;
    display: flex;
    justify-content: center;

    &_block {
        padding: 15px 16px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 284px;
        height: 44px;
        border: 1px solid #C4C4C4;
        border-radius: 3px;

        a {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #C4C4C4;

            &:hover {
                color: #EF5B70;
            }
        }
    }
}

@media (min-width: 1140px) {
    .pagination {
        height: 188px;

        &_block {
            margin-top: 48px;
        }
    }
}

// conditions

.conditions {
    background-color: #222224;
    padding: 48px 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_truck {
        width: 44px;
        padding-bottom: 28px;
    }

    &_percent {
        padding-bottom: 19px;
        width: 39px;
    }

    &_crown {
        padding-bottom: 25px;
        width: 46px;
    }

    h2 {
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }

    p {
        padding-bottom: 47px;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        color: #FBFBFB;
        max-width: 348px;
        text-align: center;

    }

    .last_p_section {
        padding-bottom: 81px;
    }
}

@media (min-width: 1140px) {
    .conditions {
        padding-top: 103px;
        padding-bottom: 104px;

        .container {
            width: 1140px;
            display: flex;
            justify-content: space-between;
        }

        p {
            padding-bottom: 0;
        }

        .last_p_section {
            padding-bottom: 0;
        }
    }
}

// subscribe

.subscribe {
    &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_right {
        display: flex;
        flex-direction: column;
    }

    padding: 64px 18px 110px 16px;
    text-align: center;
    background: url(/img/subscribe_bg.jpg) no-repeat;
    background-size: cover;

    img {
        padding-bottom: 30px;
        width: 92px;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 153.2%;
        text-align: center;
        color: #222224;
    }

    p {
        max-width: 360px;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #222224;
    }

    span {
        width: 271px;
        align-self: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 153.2%;
        text-align: center;
        color: #222224;

    }

    form {
        margin-top: 22px;
        height: 47px;
        width: 341px;
        align-self: center;
        display: flex;
        justify-content: center;

    }

    input {
        height: inherit;
        width: 245px;
        background: #E1E1E1;
        border: none;
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
        padding-left: 21px;

        &::-webkit-input-placeholder {
            color: #222224;
            opacity: 0.67;
        }

        &::-moz-placeholder {
            color: #222224;
            opacity: 0.67;
        }

        &:-ms-input-placeholder {
            color: #222224;
            opacity: 0.67;
        }

        &:-moz-placeholder {
            color: #222224;
            opacity: 0.67;
        }
    }

    button {
        height: inherit;
        width: 96px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        background: #F16D7F;
        border: none;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        cursor: pointer;
    }

    @media (max-width: 362px) {
        form {
            width: 320px;

        }

        input {

            width: 207px;
        }

        button {
            float: none;
        }
    }
}

@media (min-width: 1140px) {
    .subscribe {
        display: flex;
        justify-content: center;

        .subscribe_left {
            p {
                margin-bottom: 0;
            }
        }

        .container {
            width: 1140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


// footer

footer {
    background: #222224;
    padding: 43px 62px 24px;

    .footer_right {
        display: flex;
        justify-content: center;

        :last-child {
            margin-right: 0;
        }

        a {
            width: 32px;
            height: 32px;
            background: white;
            color: black;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover {
                background: #F16D7F;
                color: black;
            }
        }
    }

    .footer_left {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        text-align: center;
        margin-top: 25px;
    }
}

@media (min-width: 768px) {
    footer {
        .footer_left {
            order: 1;
            margin-top: 0;
        }

        display: flex;
        justify-content: center;
        padding: 24px 32px;

        .container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .footer_right {
            order: 2;
        }
    }
}

@media (min-width: 1140px) {
    footer {
        justify-content: center;

        .footer_right {
            order: 2;
        }

        .container {
            width: 1140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}