@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #222222;
  padding: 18px 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_left {
  display: inline-block;
}
header .header_logo {
  margin-right: 41px;
}
header .header_right {
  display: inline-block;
}
header .header_profile {
  display: none;
}
header .busket_wrapper {
  position: relative;
  display: none;
}
header .busket_wrapper__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  display: none;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background: #F16D7F;
}

@media (min-width: 768px) {
  header {
    padding: 18px 32px;
  }
  header .header_profile {
    display: inline-block;
    margin-right: 42px;
  }
  header .header_basket {
    display: inline-block;
  }
  header .header_menu {
    margin-right: 25px;
  }
  header .busket_wrapper {
    display: inline-block;
  }
  header .busket_wrapper__number {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(23px, 12px);
  }
}
@media (min-width: 1140px) {
  header {
    display: flex;
    justify-content: center;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
  }
}
nav {
  background-color: #F8F3F4;
  padding: 24px 83px 46px;
  text-align: center;
}
nav h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 32px;
}
nav p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
nav span {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
@media (min-width: 320px) {
  nav {
    padding: 24px 60px 46px;
  }
}

@media (min-width: 768px) {
  nav {
    padding: 0;
  }
  nav .container {
    display: flex;
    justify-content: space-between;
    padding: 59px 16px;
    align-items: center;
  }
  nav h1 {
    margin-bottom: 0;
  }
}
@media (min-width: 1140px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav .container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
}
.slider {
  min-height: 624px;
  padding-top: 85px;
  padding-bottom: 85px;
  border: 1px solid #EAEAEA;
  background: #F7F7F7;
  position: relative;
}
.slider__img {
  height: 454px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.slider__left {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 23.5px);
  left: 0;
  cursor: pointer;
  background-image: url(icons/slider_left_b.svg);
}
.slider__left:hover {
  background-image: url(icons/slider_left_r.svg);
}
.slider__right {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 23.5px);
  right: 0;
  cursor: pointer;
  background-image: url(icons/slider_right_b.svg);
}
.slider__right:hover {
  background-image: url(icons/slider_right_r.svg);
}

@media (min-width: 320px) and (max-width: 375px) {
  .slider {
    display: flex;
  }
  .slider__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .slider {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slider__img {
    min-height: 565px;
  }
}
@media (min-width: 1140px) {
  .slider {
    min-height: 777px;
    padding-top: 11px;
    padding-bottom: 42px;
  }
  .slider__img {
    min-height: 724px;
  }
}